
#book{
    width:900px;
    height:160px;
    background-color: hotpink;
    margin-bottom: 10px;
}

#book>#book-left{
    float:left;
    background-color: indigo;
    width:10%;
    height:160px;
}

#book>#book-right{
    float:left;
    background-color: khaki;
    width:85%;
    height:160px;
}

#book-right>#title-area{
    background-color: lawngreen;
}
#book-right>#author-area{
    background-color: lightblue;
}
#book-right>#price-area{
    background-color: lightcoral;
}
#book-right>#desc-area{
    background-color: lightseagreen;
}